fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
boto3
requests

scikit-learn
spacy
pillow

pandas
openpyxl
python-pptx

pyside6
pytest
dotenv


PySide6
scikit-learn
numpy
sqlite3

Flask==3.0.0
Werkzeug==3.0.1
